.nav__items{
display:flex;
}
.nav__items > p {
  margin:10px;
  margin-bottom:0;
}
.css-16eyblw-MuiButtonBase-root-MuiButton-root{
  margin:0;
}
button.MuiButton-root.MuiButton-text.MuiButton-textPrimary{
  margin:0;
}
@media (min-width: 600px){
  .css-1772xa9-MuiContainer-root {
    padding-left:0;
  }
}
button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.second__nav__buttons.css-1wgc44w-MuiButtonBase-root-MuiButton-root:hover{
  border: 1px solid #fff !important;
}
button.MuiButton-root.MuiButton-text.MuiButton-textPrimary {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.css-2bdc52-MuiButtonBase-root-MuiButton-root:hover {
  border: 1px solid #fff
}
.css-1wgc44w-MuiButtonBase-root-MuiButton-root{
  flex-basis: 250px;
}


