.nav__items{
display:flex;
}
.nav__items > p {
  margin:10px;
  margin-bottom:0;
}
.second__nav__buttons{
  
}
.css-16eyblw-MuiButtonBase-root-MuiButton-root{
  margin:0;
}
button.MuiButton-root.MuiButton-text.MuiButton-textPrimary{
  margin:0;
}
