.home__slide__img{
    height:100vh;
}
.d-block{
    width: 100%;
    z-index: -1;
    height: 100%;
    margin-bottom:-150px;
}
.thumbs{
    display:none
}
.carousel.carousel-slider .control-arrow{
    height:30%
}
.dot{
    background:orange !important;
}