.home__slide__img{
    -ms-mask-image:linear-gradient(to bottom, rgba(0,0,0,1)80%, rgba(0,0,0,0));
    mask-image:linear-gradient(to bottom, rgba(0,0,0,1)80%, rgba(0,0,0,0));
    -webkit-mask-image:linear-gradient(to bottom, rgba(0,0,0,1)80%, rgba(0,0,0,0));
    -moz-mask-image:linear-gradient(to bottom, rgba(0,0,0,1)80%, rgba(0,0,0,0));
}
.d-block{
    width: 100%;
    z-index: -1;
    height: 100%;
    margin-bottom:-150px;
}
.thumbs{
    display:none
}
.carousel.carousel-slider .control-arrow{
    height:20%
}
.dot{
    background:orange !important;
}
.control-dots{
    display:none
}
